body {
    margin: 0;
    background-color: #333333;
}

h1, h2, h3, h4 {
    color: rgba(96, 87, 255, 0.87);
    font-family: 'Roboto', Serif, serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

.text {
    font-family: 'PT Serif', Serif, serif;
    line-height: 1.5em;
    color: rgb(238, 238, 238);
    margin: 15px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    font-size: 14pt;
}

.clear {
    clear: both;
}

.basic {
    float: left;
    width: 580px;
    margin: 10px;
}

a {
  color: rgba(134,255,145,0.87);
}

@media screen and (max-width: 1220px) {
    .clear_medium {
        clear: both;
    }

    .wrapper {
        width: 800px;
    }

    .basic {
        width: 380px;
    }
}

@media screen and (max-width: 820px) {
    .clear_small {
        clear: both;
    }

    .wrapper {
        width: 100%;
    }

    .basic {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .skills, .contacts {
        width: 400px;
        max-width: 100%;
    }

    .text, .header {
        text-align: center;
    }
}
