body
{
    margin: 0;
}

h1
{
    font-family: 'Roboto', Serif, serif;
    font-size: 3em;
    color: #3e464a;
}

h2, h3, h4
{
    font-family: 'Roboto', Serif, serif;
    color: #03486b;
}

h2
{
    font-size: 2em;
}

h3
{
    font-size: 1.5em;
}

h4
{
    font-size: 1em;
}

.text
{
    font-family: 'PT Serif', Serif, serif;
    line-height: 1.5em;
    color: #333333;
    margin: 15px;
}

.wrapper
{
    width: 1200px;
    margin: 0 auto;
    font-size: 14pt;
}

.clear
{
    clear: both;
}

.basic
{
    float: left;
    width: 580px;
    margin: 10px;
}

@media screen and (max-width: 1220px)
{
    .clear_medium
    {
        clear: both;
    }

    .wrapper
    {
        width: 800px;
    }

    .basic
    {
        width: 380px;
    }
}

@media screen and (max-width: 820px)
{
    .clear_small
    {
        clear: both;
    }

    .wrapper
    {
        width: 100%;
    }

    .basic
    {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .skills, .contacts
    {
        width: 400px;
        max-width: 100%;
    }

    .text, .header
    {
        text-align: center;
    }
}
