body
{
    margin: 0;
}

h1
{
    font-family: 'Roboto', Serif;
    font-size: 3em;
    color: #3e464a;
}

h2, h3, h4
{
    font-family: 'Roboto', Serif;
    color: #03486b;
}

h2
{
    font-size: 2em;
}

h3
{
    font-size: 1.5em;
}

h4
{
    font-size: 1em;
}

.text
{
    font-family: 'PT Serif', Serif;
    line-height: 1.5em;
    color: #333333;
    margin: 15px;
}

.wrapper
{
    width: 1200px;
    margin: 0 auto;
    font-size: 14pt;
}

.clear
{
    clear: both;
}

.basic
{
    float: left;
    width: 580px;
    margin: 10px;
}

.photo_image
{
    height: 250px;
}

.quote_author
{
    text-align: right;
}

.movie
{
    float: left;
    width: 280px;
    margin: 10px;
    text-align: justify;
}

.movie_image
{
    display: block;
    margin: 0 auto;
    height: 400px;
} 

.movie_header
{
    text-align: center;
}

.movie_text
{
    text-indent: 30px;
}

@media screen and (max-width: 1220px)
{
    .clear_medium
    {
        clear: both;
    }

    .wrapper
    {
        width: 800px;
    }

    .basic, .movie
    {
        width: 380px;
    }
}

@media screen and (max-width: 820px)
{
    .clear_small
    {
        clear: both;
    }

    .wrapper
    {
        width: 100%;
    }

    .basic, .movie
    {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .skills, .music, .contact
    {
        width: 400px;
        max-width: 100%;
    }

    .movie_image, .photo_image
    {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 480px;
    }

    .text, .header, .photo
    {
        text-align: center;
    }
}
