/*div
{
    background: rgba(0,255,0,.1);
}*/

h1
{
    font: 'Roboto', Serif;
    font-size: 42pt;
    color: #3e464a;
}

h2, h3, h4
{
    font: 'Roboto', Serif;
    color: #03486b;
}

h2
{
    font-size: 36pt;
}

h3
{
    font-size: 24pt;
}

h4
{
    font-size: 18pt;
}

.text
{
    font: 'PT Serif', Serif;
    font-size: 14pt;
    line-height: 1.5em;
    color: #333333;
}

.wrapper
{
    width: 1200px;
    margin: 0 auto;
}

.clearfix
{
    clear: both;
}

.basic
{
    float: left;
    width: 580px;
    margin: 10px;
}

.photo_image
{
    height: 250px;
}

.quote_author
{
    text-align: right;
}

.movie
{
    float: left;
    width: 280px;
    margin: 10px;
    text-align: justify;
}

.movie_image
{
    display: block;
    margin: 0 auto;
    height: 400px;
} 

.movie_header
{
    text-align: center;
}

.movie_text
{
    text-indent: 30px;
}

@media screen and (max-width: 1225px)
{
    .clear_breakpoint1
    {
        clear: both;
    }

    .wrapper
    {
        width: 800px;
    }

    .basic, .movie
    {
        width: 380px;
    }
}

@media screen and (max-width: 825px)
{
    .clear_breakpoint2
    {
        clear: both;
    }

    .wrapper
    {
        width: 100%;
    }

    .basic, .movie
    {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .movie_image, .photo_image
    {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 480px;
    }

    *
    {
        text-align: center;
    }
}
