.wrapper
{
    padding: 15px;
    width: auto;
    max-width: 2000px;
    text-align: center;
}

.clear
{
    clear: both;
}

.game_area
{
    margin: 0 auto;
    border: 1px solid #5D4C5E;
    width: 100%;
}