html,
body {
    padding: 0;
    margin: 0;
}

.wrapper {
    background-color: #EEEEEE;
}

.editor,
.drawerCanvas {
    background-color: #DDDDDD;
}

.clearfix {
    clear: both;
}

.wrapper {
    margin: 0 auto;
    padding: 16px 32px;
    width: auto;
    max-width: 1400px;
}

.editor {
    width: auto;
    float: left;
    margin: 16px 5%;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.input {
    margin: 4px;
    float: left;
}

.inputName {
    margin: 0;
    float: left;
}

.textInputSmall {
    width: 50px;
}

.drawerCanvas {
    width: 90%;
    height: 45%;
    box-sizing: border-box;
    margin: 16px 5%;
    border: 1px solid rgba(0, 0, 0, .1);
}