*
{
	padding: 0;
	margin: 0;
}

.clear
{
	clear: both;
}

.wrapper
{
	width: auto;
	text-align: center;
}

.gameCanvas
{
	width: 100%;
	background-color: black;
}

.footer
{
	display: inline-block;
	margin: 0px;
}

body
{
	overflow-y: hidden;
}
